body{
    float: none !important;
    width: auto !important;
    margin:  0 !important;
    padding: 0 !important;
    font-family: "Helvetica Neue", "Arial", sans-serif; !important;
}
pre{ font-family: "Helvetica Neue", "Arial", sans-serif; !important; }